cache:
  paths:
  - node_modules/

stages:
  - clean
  - build
  - deploy
  - preserve-pages

# Templates
.git: &git
  - eval $(ssh-agent -s)
  - echo "$DEPLOY_KEY" | tr -d '\r' | ssh-add - > /dev/null
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan gitlab.gwdg.de  >> ~/.ssh/known_hosts
  - git config --global user.email "tido@gitlab.gwdg.de"
  - git config --global user.name "Gitlab CI"

clean_up:
  image: docker.gitlab.gwdg.de/mrodzis/docker-images/debian
  stage: clean
  only:
    - main
    - develop
  script:
    - *git
    - bash .ci-scripts/remove_entrypoint.sh
  artifacts:
    reports:
      dotenv: build.env

build_test:
  image: docker.gitlab.gwdg.de/subugoe/emo/qviewer/node:latest
  except:
   - main
   - develop
  stage: build
  script:
   - bash .ci-scripts/build.sh
  artifacts:
    paths:
     - dist/

build_main_and_develop:
  image: docker.gitlab.gwdg.de/subugoe/emo/qviewer/node:latest
  only:
   - main
   - develop
  stage: build
  script:
   - if [[ $CONTINUE_BUILD == "true" ]]; then bash .ci-scripts/build.sh; fi
  artifacts:
    paths:
     - dist/
    expire_in: 1 mos

update-ahikar:
  stage: deploy
  only:
    - main
  variables:
    UPDATE: "true"
    UPSTREAM_COMMIT_SHA: "${CI_COMMIT_SHA}"
  trigger: "subugoe/ahiqar/ahiqar-tido"

pages:
  image: docker.gitlab.gwdg.de/mrodzis/docker-images/debian
# at the very early stage lets deploy for every branch
#  only:
#    - main
#    - develop
  stage: deploy
  cache:
    untracked: true
    paths:
      - public
  when: always
  script:
   - bash .ci-scripts/update-artifacts.sh
   - bash .ci-scripts/gitlab-remove-old-artifacts.sh
   - if [[ $CONTINUE_BUILD == "false" && ! -d dist ]]; then bash .ci-scripts/set-404-page.sh; fi
  environment:
    name: ${CI_COMMIT_REF_SLUG}
    url: https://subugoe.pages.gwdg.de/emo/Qviewer/${CI_COMMIT_REF_SLUG}/
  artifacts:
    name: "$CI_COMMIT_SHORT_SHA"
    paths:
     - public

pushback:
  before_script:
    - dnf install -y zip
  image: docker.gitlab.gwdg.de/mgoebel/swiss_knife/fedora:latest
  stage: preserve-pages
  script:
    -  zip -r updated-artifact.zip public
  artifacts:
    name: "updated-artifact"
    paths:
      - updated-artifact.zip

# when a git flow release is made, a tag will be pushed starting this job. it
# will keep the resulting artifact from the job declared in `JOB_NUMBER_TO_PRESERVE`
# and it will set up a Gitlab release at the repo. therefore the merge message starting
# at the release branch should be written in markdown, using a backslash as escape character
# `\` before `#`.
.release:
  image: docker.gitlab.gwdg.de/fontane-notizbuecher/build:latest
  stage: deploy
  only:
    - tags
  variables:
    JOB_NUMBER_TO_PRESERVE: 1
  script:
    # it is also possible to query for a job name by altering the jq filter
    - 'curl --output jobs.json --header "PRIVATE-TOKEN: $GITLAB_TOKEN" "$CI_API_V4_URL/projects/$CI_PROJECT_ID/pipelines/$CI_PIPELINE_ID/jobs"'
    - CI_JOB_TARGET=$(jq ".[$((JOB_NUMBER_TO_PRESERVE - 1))].id" < jobs.json)
    - echo $CI_JOB_TARGET
    # keep artifact (release will link there)
    - 'curl --request POST --header "PRIVATE-TOKEN: $GITLAB_TOKEN" "$CI_API_V4_URL/projects/$CI_PROJECT_ID/jobs/$CI_JOB_TARGET/artifacts/keep"'
    # create release data
    # parse commit message (markdown, lines starting with “\”)
    - MARKDOWN=$(echo "$CI_COMMIT_MESSAGE" | sed 's=^\\==g')
    # prepare the json file
    - 'jq
      ".name = \"$CI_PROJECT_PATH $CI_COMMIT_TAG\" |
      .tag_name = \"$CI_COMMIT_TAG\" |
      .description = \"$MARKDOWN\" |
      .assets.links[0].name = \"package\" |
      .assets.links[0].url = \"https://gitlab.gwdg.de/$CI_PROJECT_PATH/-/jobs/$CI_JOB_TARGET/artifacts/download\"
      " < .gitlab/gitlab-release.json.tmpl > gitlab-release.json'
    - 'curl --header "Content-Type: application/json" --header "PRIVATE-TOKEN: $GITLAB_TOKEN" --data @gitlab-release.json --request POST $CI_API_V4_URL/projects/$CI_PROJECT_ID/releases'
  artifacts:
    paths:
      - gitlab-release.json
