# this file defines the CI/CD stages for the TIDO viewer.
# in some cases they invoke scripts provided at .ci-scripts/ in order to
# keep this file slim and clear. please have a look at these scripts for
# information that goes beyond the documentation of the single stages.

cache:
  key: $CI_COMMIT_REF_SLUG
  paths:
    - node_modules/

stages:
  - build
  - deploy

# builds TIDO on feature and bugfix branches.
build_test:
  image: node:14
  except:
   - main
   - develop
  stage: build
  script:
   - apt-get install libgtk2.0-0 libgtk-3-0 libgbm-dev libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2 libxtst6 xauth xvfb
   - bash .ci-scripts/build.sh
   - npm run cypress
  artifacts:
    paths:
     - dist/

build_main_and_develop:
  image: node:14
  only:
   - main
   - develop
  stage: build
  script:
   - if [[ $CONTINUE_BUILD == "true" ]]; then echo "Continue build"; bash .ci-scripts/build.sh; else echo "Stop build"; fi
  artifacts:
    paths:
     - dist/
    expire_in: 1 mos

pages:
  image: alpine:latest
  stage: deploy
  when: always
  script:
    - sh .ci-scripts/install-deps.sh
    - if [[ $CONTINUE_BUILD == "false" && ! -d dist ]]; then echo "Build not continued. Create 404 page."; bash .ci-scripts/set-404-page.sh; else echo "Proceed page build as usual."; fi
    - bash .ci-scripts/update-artifacts.sh
  environment:
    name: ${CI_COMMIT_REF_SLUG}
    url: https://subugoe.pages.gwdg.de/emo/tido/${CI_COMMIT_REF_SLUG}/
  artifacts:
    name: "$CI_COMMIT_SHORT_SHA"
    paths:
     - public
