//gitlab.gwdg.de/api/v4/projects/10921/packages/npm/:_authToken=UhMDcx5dVgHM3MLDNfFw
//gitlab.gwdg.de/api/v4/packages/npm/:_authToken=UhMDcx5dVgHM3MLDNfFw
@subugoe:registry=https://gitlab.gwdg.de/api/v4/packages/npm/
