#config-tester-menu {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 10%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: rgba(255,255,255,0.8);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  font-family: Arial, sans-serif !important;

}
#config-tester-menu .config-tester-menu-content {
  display: flex;
}
#config-tester-menu h3 {
  color: #222;
  margin: 0 0 8px 0;
  font-size: 1.2rem !important;
  font-weight: 600;
  line-height: 1.2rem;
}
#config-tester-menu a {
  padding: 8px 10px;
  background: #cfcfcf;
  border-radius: 2px;
  color: #222;
  text-decoration: none;
  font-size: 1rem !important;
}
#config-tester-menu a + a {
  margin-left: 8px;
}

#config-tester-menu a.active {
  background: #ff4400;
  color: #fff;
}
