#config-tester {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 10%;
  display: flex;
  flex-direction: column;
  padding: 16px 20px;
  padding-bottom: 4px;
  background: rgba(255,255,255,0.8);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  font-family: Arial, sans-serif !important;
  border: 1px solid #ff4400;
  border-top: 0;
  transition: top 0.4s;
}

#config-tester.collapsed {
  top: -88px;
}

#config-tester .config-tester-collapse {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 4px;
}
#config-tester .config-tester-content {
  display: flex;
}
#config-tester h3 {
  margin: 0 0 12px 0;
  font-size: 1.2rem !important;
  font-weight: 400;
  line-height: 1.2rem;
  color: #ff4400;
}

#config-tester h3::before {
  content: '\1F6A7';
  margin-right: 5px;
}

#config-tester a {
  padding: 8px 12px;
  background: #cfcfcf;
  border-radius: 2px;
  color: #222;
  text-decoration: none;
  font-size: 1rem !important;
}
#config-tester a + a {
  margin-left: 8px;
}

#config-tester a.active {
  background: #ff4400;
  color: #fff;
}
