/* THIS FILE IS TO BE REPLACED BY PROJECT SPECIFIC CSS
  in order to add project specific styling of the text panel,
  this file SHOULD be replaced before a project specific build
  is generated.
  Use own repositories for this, like the Ahikar project does it
  at: https://gitlab.gwdg.de/subugoe/ahikar/ahiqar-tido

  This file is going to be included via SCSS!
*/
.token {
  display: inline-block;
}
