html, body {
  margin: 0;
  font-family: sans-serif;
}

html * {
  box-sizing: border-box;
}

#app {
  height: calc(100vh - 61px);
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  color: #666;
  border-bottom: 1px solid #ccc;
  padding: 4px 16px;
}

header .home {
  margin-right: 16px;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: #222;
}

header nav {
  display: flex;
}

header form {
  flex: 1;
  display: flex;
}

header .input-container {
  flex: 1;
  margin-right: 48px;
  position: relative;
  display: flex;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 6px;
}

header .input-container:has(#url-input:focus-visible),
header select:focus-visible,
header .input-container button:focus-visible,
.home:focus-visible {
  outline: 2px solid rgb(56 189 248 / 50%);
}

header #url-input {
  all: unset;
  height: 28px;
  padding: 4px 12px;
  flex: 1;
  font-weight: 300;
}

header #url-input::placeholder {
  font-style: italic;
  font-weight: 300;
}



header .input-container button {
  all: unset;
  position: absolute;
  right: 0;
  height: 100%;
  padding: 0 8px;
  border-left: 1px solid #ccc;
  background: white;
  cursor: pointer;
}

header .input-container button:hover {
  background: #eee;
}

header select {
  border: 1px solid #ccc;
  height: 38px;
  padding: 4px 12px;
  border-radius: 6px;
  color: #666;
  font-size: 16px;
  cursor: pointer;
}

header > span {
  margin-right: 8px;
  margin-left: auto;
}

header > a {
  margin-left: 1rem;
}

.empty-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #999;
  background: #eee;
  padding: 24px;
}

.empty-container h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
}
