.annotation-disabled {
  border-bottom: 0;
  padding-bottom: inherit;
}

.annotation-disabled-overlap {
  border-bottom: 1px;
  border-bottom-style: dotted !important;
  padding-bottom: inherit;
}

.annotation-disabled > svg {
  display: none;
}

[data-annotation-level]:not([data-annotation-level ='-1']) {
  cursor: pointer;
}

[data-annotation-level='0'] {
  background-color: #e5e5e5;

  [color-scheme="dark"] & {
    background-color: #575757 !important;
  }
}

[data-annotation-level] {
  figure, svg {
    border: 0 !important;
  }
}

[data-annotation-level='1'] {
  background-color: #E3F2FD;
  border-bottom: 1px solid #333;

  [color-scheme="dark"] & {
    background-color: #6790bf !important;
    border-bottom: 1px solid #fafafa !important;
  }
}

[data-annotation-level='2'],
[data-annotation-level='2'] * {
  background-color: #BBDEFB;
  border-bottom: 1px solid #333;

  [color-scheme="dark"] & {
    background-color: #5687bf !important;
    border-bottom: 1px solid #fafafa !important;
  }
}

[data-annotation-level='3'],
[data-annotation-level='3'] * {
  background-color: #2196F3;
  border-bottom: 1px solid #333;

  [color-scheme="dark"] & {
    background-color: #4b81bf !important;
    border-bottom: 1px solid #fafafa !important;
  }
}

[data-annotation-level='4'],
[data-annotation-level='4'] * {
  background-color: #1565C0;
  border-bottom: 1px solid #333;

  [color-scheme="dark"] & {
    background-color: #3073bf !important;
    border-bottom: 1px solid #fafafa !important;
  }
}

[data-annotation-level='5'],
[data-annotation-level='5'] * {
  background-color: #42A5F5;
  border-bottom: 1px solid #333;

  [color-scheme="dark"] & {
    background-color: #1a5fad !important;
    border-bottom: 1px solid #fafafa;
  }
}
