// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #5496e1;
$secondary: #eee;
$light: #f5f5f5;
$dark: #212123;
$grey-8: #575757;
$grey-9: #2b2b2b;

$breakpoint-sm-custom-md: 799px;


$h1: (size: 1.7rem,     line-height: 1.8rem,     letter-spacing: normal, weight: 400);
$h2: (size: 1.2rem, line-height: 1.4rem,  letter-spacing: normal, weight: 300);
$h3: (size: 1.4rem, line-height: 1.4rem, letter-spacing: normal,    weight: 400);
$h4: (size: 1.2rem, line-height: 1.4rem,   letter-spacing: 0.00735em,  weight: 400);
$h5: (size: 1.2rem,   line-height: 1.2rem,     letter-spacing: normal,    weight: 400);
$h6: (size: 1rem,  line-height: 1rem,     letter-spacing: 0.0125em,   weight: 500);
$subtitle1: (size: 1rem,     line-height: 1.75rem,  letter-spacing: 0.00937em,  weight: 400);
$subtitle2: (size: 0.875rem,  line-height: 1.375rem, letter-spacing: 0.00714em,  weight: 500);
$body1: (size: 1rem,     line-height: 1.5rem,   letter-spacing: 0.03125em,  weight: 400);
$body2: (size: 0.875rem,  line-height: 1.25rem,  letter-spacing: 0.01786em,  weight: 400);
$overline: (size: 0.75rem,   line-height: 2rem,     letter-spacing: 0.16667em,  weight: 600);
$caption: (size: 0.75rem,   line-height: 1.25rem,  letter-spacing: 0.03333em,  weight: 400);

$button-border-radius: 6px;

$body-font-size   : 16px;
