$foreground: #cacaca;
$background: #eee;

$foreground-dark: #555;
$background-dark: #1c1c1c;

.tido * {
  [color-scheme="dark"] & {
    scrollbar-color: $foreground-dark $background-dark;
  }

  scrollbar-color: $foreground $background;
  scrollbar-width: thin;
}
