#annotation-tooltip {
  background-color: white;
  box-shadow: $shadow-3;
  font-size: 14px;
  left: 0;
  opacity: 0;
  padding: 8px;
  position: fixed;
  text-decoration: none;
  top: 0;
  transition: opacity 0.4s;
  max-width: 480px;
  z-index: 10000;
  transform: translateY(-100%);
  border-radius: $generic-border-radius;
  border: 1px solid #ddd;
  -webkit-touch-callout: none;

  .body--dark & {
    background-color: $dark;
    border: 1px solid #424242;
  }

  &.annotation-animated-tooltip {
    opacity: 1;
  }

  .referenced-annotation {
    display: block;
    margin-bottom: 4px;
  }

  .referenced-annotation:last-of-type {
    margin-bottom: 0;
  }

  .tooltip-body {
    border-top: 1px solid #ddd;
  }
}
