.t-flex{
  display: flex;
}

.t-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.t-items-center {
  align-items: center;
}

[class*="q-"].row {
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: row !important;
  margin: unset !important;
}
