.openseadragon-canvas {
  &:focus {
    outline: none;
  }
}

.panels-target > * {
  border-right: 1px solid #ddd !important;
  flex: auto;
}

.toggle-list .q-item {
  align-items: center;
}

.panel-textinput {
  background: transparent;
  border: 0;
  outline: none;
  width: 100%;
}

.custom-font,
.custom-font * {
  font-family: 'tido';
}

.q-tab {
  opacity: 1 !important;
}
