h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h3 {
  margin-bottom: map-get($space-md, 'y');
}

.openseadragon-canvas {
  &:focus {
    outline: none;
  }
}

.panels-target > * {
  border-right: 1px solid #ddd !important;
  flex: auto;
}

.toggle-list .q-item {
  align-items: center;
}

.panel-textinput {
  background: transparent;
  border: 0;
  outline: none;
  width: 100%;
}
