body {
  // FIXME: don't use !important
  // background-color: $color-body__background !important;
  height: 100vh;
  overflow-y: hidden;
  @media (max-width: 1023px) {
    overflow-y: auto !important;
  }
  // @media (prefers-color-scheme: dark) {
  //   // FIXME: don't use !important
  //   background-color: $color-body__background--dark !important;
  // }
}

.scroll-panel {
  position: relative;

  .sticky {
    // background: $light;
    display: flex;
    justify-content: flex-start;
    left: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
  }
}

.caps {
  font-variant: small-caps;
}

.openseadragon-canvas {
  &:focus {
    outline: none;
  }
}

.content-panel .q-tab-panel > * {
  padding: 0 !important;
}

.without-dropdown > * {
  display: flex;
}

.scroll-panel {
  @include make-responsive-height();
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-panel::-webkit-scrollbar {
  display: none;
}

.unselect-text {
  -webkit-touch-callout: none;
  user-select: none;
}

.panels-target > * {
  border-right: 1px solid #ddd !important;
  flex: auto;
}

.toggle-list > * {
  align-items: center;
}

.hidden-textinput {
  background: transparent;
  border: 0;
  outline: none;
  width: 100%;
}

// .q-focus-helper {
//   display: none;
// }
