@mixin makeResponsiveHeight {
  $sizesSreen: ('400px': '26vh','450px': '34vh', '500px': '41vh', '550px': '46vh', '600px': '50vh', '630px': '53vh', '660px': '55vh', '700px': '58vh', '750px': '61vh', '800px': '63vh', '850px': '66vh', '900px': '67vh', '980px': '70vh', '1200px': '75vh', '1300px': '77vh', '1800px': '83vh');

  @each $minheight, $height in $sizesSreen {
    @media (min-height: #{$minheight}) {
      height: #{$height};
    }
  }
}
