.row {
  margin-top: unset;
  margin-left: unset;
  margin-right: unset;
}

.row > * {
  flex-shrink: unset;
  width: unset;
  max-width: unset;
  padding-right: unset;
  padding-left: unset;
  margin-top: unset;
  margin-left: unset;
  margin-right: unset;
}
