@import './responsive-heights.scss';

.view-tree {
  overflow-y: scroll;
  @include makeResponsiveHeight();
  -ms-overflow-style: none;
  scrollbar-width: none;
  .q-tree__node-collapsible .q-tree__children {
    > .q-tree__node--parent {
      > .q-tree__node-header {
        background: white;
        left: 0;
        position: sticky;
        top: 0;
        z-index: 999;
      }
    }
  }
  .q-tree__node-header-content.col.row.no-wrap.items-center {
    z-index: 99;
  }
  .q-tree__children {
    cursor: pointer;
  }
}

.view-tree::-webkit-scrollbar {
  display: none;
}
