.item-content {
  .q-tree__node-body.relative-position {
    padding: 0;
  }

  .q-tree__node-collapsible .q-tree__children {
    /* FIXME: scss linting error because to much nesting */
    /* stylelint-disable */
    >.q-tree__node--parent {
      >.q-tree__node-header {
        /* stylelint-ensable */
        background-color: $grey-3;
        left: 0;
        position: sticky;
        top: -8px;
        z-index: 999;

        @media (prefers-color-scheme: dark) {
          background-color: $grey-9;
        }
      }
    }
  }

  .q-tree__node--selected {
    background-color: var(--q-color-accent);
    @media (prefers-color-scheme: dark) {
      background-color: $grey-3;
    }

    .q-tree__node-header-content {
      color: $light !important;
      @media (prefers-color-scheme: dark) {
        color: $dark !important;
      }
    }
  }

  .q-tree__node-header {
    border-radius: 3px;
  }

  .q-tree__children {
    cursor: pointer;
  }

  .q-tree__node-header-content {
    word-break: break-all;
    user-select: none;
  }
}

.q-tree {
  padding: 8px;
}

.q-tab__label {
  color: var(--q-color-primary);
  letter-spacing: 2px;
  @media (prefers-color-scheme: dark) {
    color: $light;
  }
}

.q-tree__node {
  padding-bottom: 0;
}

.q-tab__indicator {
  color: var(--q-color-accent);
  @media (prefers-color-scheme: dark) {
    color: $light;
  }
}

.q-toolbar__title {
  color: var(--q-color-primary);
  letter-spacing: 2px;
  @media (prefers-color-scheme: dark) {
    color: $light;
  }
}
