<!DOCTYPE html>
<html>
  <head>
    <title><%= Title %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1, maximum-scale=5, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
  </head>

  <body>
    <noscript>
      <strong>We're sorry but <%= Title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <!--
    Quick reference for the panel config (panels.connector)
    The numbers below reflect each component's id. For detailed instructions please refer to the README.md!

    - 1 = Treeview
    - 2 = Metadata
    - 3 = Image
    - 4 = Text / Content
    - 5 = Annotations

    Note: These IDs are supposed to be unique, so please make sure not to repeat these!
    -->
    <script id="tido-config" type="application/json">
    {
      "entrypoint": "",
      "annotations": {
        "show": true,
        "types": [
          {
            "content-type": "Person",
            "icon": "fasUser",
            "label": "Names"
          },
          {
            "content-type": "Place",
            "icon": "fasMapMarkerAlt",
            "label": "Places"
          },
          {
            "content-type": "Editorial Comment",
            "icon": "fasComment",
            "label": "Comments"
          }
        ]
      },
      "colors": {
        "primary": "",
        "secondary": "",
        "accent": ""
      },
      "headers": {
        "show": true,
        "info": true,
        "navigation": true,
        "toggle": true
      },
      "labels": {
        "item": "Sheet",
        "manifest": "Manuscript"
      },
      "panels": [
        {
          "connector": [1, 2],
          "heading": true,
          "label": "Contents & Meta",
          "show": true,
          "toggle": true
        },
        {
          "connector": [3],
          "heading": true,
          "label": "Image",
          "show": true,
          "toggle": true
        },
        {
          "connector": [4],
          "heading": true,
          "label": "Text",
          "show": true,
          "toggle": true
        },
        {
          "connector": [5],
          "heading": true,
          "label": "Annotations",
          "show": true,
          "toggle": true
        }
      ],
      "rtl": false,
      "standalone": true
    }
    </script>

    <div id="q-app"></div>
  </body>
</html>
