<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1, maximum-scale=5, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>

  <body>
    <noscript>
      <strong>We're sorry but <%= title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <!--
    Quick reference for the panel config (panels.connector)
    The numbers below reflect each component's id. For detailed instructions please refer to the README.md!

    - 1 = Treeview
    - 2 = Metadata
    - 3 = Image
    - 4 = Text / Content
    - 5 = Annotations

    Note: These IDs are supposed to be unique, so please make sure not to repeat these!
    -->
    <script id="tido-config" type="application/json">
    {
			"entrypoint": "https://ahikar-dev.sub.uni-goettingen.de/api/textapi/ahikar/syriac/collection.json",
      "annotations": {
        "show": true,
        "types": [
          {
            "contenttype": "Person",
            "icon": "fasUser",
            "label": "Names"
          },
          {
            "contenttype": "Place",
            "icon": "fasMapMarkerAlt",
            "label": "Places"
          },
          {
            "contenttype": "Editorial Comment",
            "icon": "fasComment",
            "label": "Comments"
          }
        ]
      },
      "colors": {
        "primary": "",
        "secondary": "",
        "accent": ""
      },
      "headers": {
        "all": true,
        "info": true,
        "navigation": true,
        "panelheadings": true,
        "toggle": true
      },
      "labels": {
        "item": "Sheet",
        "manifest": "Manuscript"
      },
      "meta": {
        "collection": {
          "all": true
        },
        "manifest": {
          "all": true
        },
        "item": {
          "all": true
        }
      },
      "panels": [
        {
          "connector": [1, 2],
          "panel_label": "contentsMetadata",
          "show": true,
          "toggle": true
        },
        {
          "connector": [3],
          "panel_label": "Image",
          "show": true,
          "toggle": true
        },
        {
          "connector": [4],
          "panel_label": "Text",
          "show": true,
          "toggle": true
        },
        {
          "connector": [5],
          "panel_label": "Annotations",
          "show": true,
          "toggle": true
        }
      ],
      "rtl": false,
      "lang": "en-us",
      "standalone": true
    }
    </script>

    <div id="q-app"></div>
  </body>
</html>
